@font-face{
    src: url(/assets/fonts/Aire\ Exterior.woff2);
    font-family: "Aire Exterior";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#141C24;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    box-sizing:content-box ;
}

.hero-img{
    display: none;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* font-family: "Roboto", sans-serif; 
    font-family: "Aire Exterior";   */


.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 110px;
    padding-bottom:48px;
    padding-top: 48px;
}

.nav-wrapper a{
    display: flex;
    gap:0 17px;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-right: 50px;
}

.item-link{
    font-family: "Roboto", sans-serif; 
    font-size: 16px;
    font-weight: 300;
    line-height: 28.8px;
    text-align: left;
    color: #ffffffd6;
    transition: .4s;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    white-space: nowrap;
    
}

.item-link:hover{
    border-bottom: 1px solid #00C5FF;
}

.bi-list{
    display: none;
    font-size: 30px;
    color: #ffffffd6;
    padding-top: 5px;
    padding-right: 50px;

}

#hero {

    height: 100vh;
}
.hero-container{
    max-width: 1327px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 16px;
    background-image: url("../images/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: rgba(14, 81, 238, 0.56) 0px 22px 70px 4px;
}
.hero-wrapper{
    padding-top: 273px;
    max-width: 632px;
    margin: 0 auto;
    padding-bottom: 145px;
    height: 100%;
}
.hero-wrapper>h2{
    text-align: center;
    color: white;
font-family: Aire Exterior;
font-size: 48px;
font-weight: 400;
line-height: 48px;
margin-bottom: 97px;

}
.hero-wrapper>p{
 color: white;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
text-align: center;

}
.hero-wrapper>button{
    margin: 0 auto;
    display: flex;
    clip-path: polygon(0 0, 85% 0, 100% 34%, 100% 100%, 56% 100%, 0 100%, 0% 50%);
    font-family: Aire Exterior;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    
    padding: 19px 89px;
    border: none;
}




@media only screen and (max-width:1405px ){
   
    .container{
        padding-inline: 50px;
    }
    .bi-list{
        padding-right: 20px;
    }

    .nav-list{
        gap: 30px;
    }
    
    .nav-wrapper{
        gap: 60px;
    }
   
}

@media only screen and (max-width:1139px ){
    

    .nav-logo-text{
        display: none;
    }
    .hero-container{
        box-shadow: none;
    }
    
}

@media only screen and (max-width:980px ){
    .container{
        padding-inline: 20px;
    }
    .bi-list{
        padding-right: 20px;
    }

    .nav-wrapper{
        gap: 30px;
    }

    .bi-list{
        padding-right: 10px;

    }

    .nav-list{
        gap: 20px;
    }
}

@media only screen and (max-width:819px ){
    
        .nav-list{
        display: none;
    }

    .bi-list{
        display: block;
    } 
    .nav-logo-text{
        display: block;
    }
}

@media only screen and (max-width:720px ){
    .container{
        padding-inline: 30px;
    }
    .bi-list{
        padding-right: 20px;

    }

   
}



@media only screen and (max-width:360px ){
    .container{
        padding-inline: 10px;
    }
    .bi-list{
        padding-right: 20px;

    }
}
@media only screen and (max-width:552px ){
    .hero-wrapper>p{
        color: white;
      max-width: 142px;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
text-align: left;
margin-top: 160px;

       }
       .hero-wrapper>h2{
       color: white;
       max-width: 284px;
font-family: Aire Exterior;
font-size: 48px;
font-weight: 400;
line-height: 48px;
text-align: left;


    }
    header{
        display: none;
    }
    .hero-container{
        margin-top: -40px;
        padding: 0 38px;
        height: 100%;

    }
    .hero-wrapper>button{
        padding: 14px 79px;

    }
    .hero-img{
        display: block;
        margin: 0 auto;
        margin-top: 41px;
    }
    .hero-wrapper{
        padding-top: 41px;
        padding-bottom: 94px;
    }
    .hero-wrapper>h2{
    margin-bottom: 137px;
    
    }
}

