@font-face{
    src: url(/assets/fonts/Aire\ Exterior.woff2);
    font-family: "Aire Exterior";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#141C24;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    box-sizing:content-box ;
    padding-inline: 100px ;
}


a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* font-family: "Roboto", sans-serif; 
    font-family: "Aire Exterior";   */


.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 110px;
    padding-block:48px;
}

.nav-wrapper a{
    display: flex;
    gap:0 17px;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-right: 50px;
}

.item-link{
    font-family: "Roboto", sans-serif; 
    font-size: 16px;
    font-weight: 300;
    line-height: 28.8px;
    text-align: left;
    color: #ffffffd6;
    transition: .4s;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    white-space: nowrap;
    
}

.item-link:hover{
    border-bottom: 1px solid #00C5FF;
}

.bi-list{
    display: none;
    font-size: 30px;
    color: #ffffffd6;
    padding-top: 5px;
    padding-right: 50px;

}


.start {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
}

.line {
    height: 1.5px;
    width: 73px;
    /* width: 100%; */
    background-color: #50AFCD;

}

.start__title {
    color: #50AFCD;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    line-height: 28.8px;
    text-align: center;

}

.game__line {
    height: 1.5px;
    width: 90px;
    margin-top: 25px;
    background-color: #50AFCD;
}

.game__title {
    color: white;
    font-family: "Aire Exterior";
    font-size: 39px;
    font-weight: 400;
    line-height: 39px;
    text-align: center;
    margin-top: 15px;

}

.game__cards {
    display: flex;
    justify-content:center;
     
    gap: 40px;
    margin-top: 90px;
}

.game__content {
    display: flex;
    align-items: center;
    gap: 50px;


}
.cards__one,
.cards__two{
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 53px;


}

.game__text {
    color: white;
    font-family: Roboto;
    font-size: 21.33px;
    font-weight: 300;
    line-height: 31.99px;
    text-align: center;

}

.begin {
    display: flex;
    margin-top: 90px;
    flex-direction: column;
    padding-bottom: 100px;
}

.begin__title {
    color: #50AFCD;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
   

}
.begin__line{
    height: 1.5px;
    width: 90px;
    margin: 0 auto;
    margin-top: 5px;
    background-color: #50AFCD;
}
.games__line{
    height: 1.5px;
    width: 90px;
    margin: 0 auto;
       background-color: #50AFCD; 
    margin-top: 24px;
}


@media(max-width:1020px){
    .game__cards{
        flex-direction: column;
    }
    .game__text{
        max-width: 140px;
    }
    .games__line{
        width: 163px;
        transform: rotateY(45deg);
    }

    .game__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}





@media only screen and (max-width:1405px ){
   
    .container{
        padding-inline: 50px;
    }
    .bi-list{
        padding-right: 20px;
    }

    .nav-list{
        gap: 30px;
    }
    
    .nav-wrapper{
        gap: 60px;
    }
   
}

@media only screen and (max-width:1139px ){
    

    .nav-logo-text{
        display: none;
    }

    
}

@media only screen and (max-width:980px ){
    .container{
        padding-inline: 20px;
    }
    .bi-list{
        padding-right: 20px;
    }

    .nav-wrapper{
        gap: 30px;
    }

    .bi-list{
        padding-right: 10px;

    }

    .nav-list{
        gap: 20px;
    }
}

@media only screen and (max-width:819px ){
    
        .nav-list{
        display: none;
    }

    .bi-list{
        display: block;
    } 

    
   
}

@media only screen and (max-width:720px ){
    .container{
        padding-inline: 30px;
    }
    .bi-list{
        padding-right: 20px;

    }

   
}



@media only screen and (max-width:360px ){
    .container{
        padding-inline: 10px;
    }
    .bi-list{
        padding-right: 20px;

    }
}

